/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
/* ==========================================================================
     Author's custom styles - In this case, DESKTOP FIRST, not Mobile
========================================================================== *

/****** FANCY FONTS ******/

@font-face {
    font-family: Aloha Paradise;
    src: url('../fonts/aloha-paradise-regular.otf') format('opentype');
}

@font-face {
    font-family: Aloha Paradise Bold;
    src: url('../fonts/aloha-paradise-bold.otf') format('opentype');
}

@font-face {
    font-family: Atlantis;
    src: url('../fonts/atlantis-regular.otf') format('opentype');
}



/****** BASE STYLES ******/

h1 {
    font-family: 'Atlantis';
    font-weight: 100;
}

h2, h3 {
    font-family: 'Aloha Paradise';
    font-weight: 400;
}

h4, p {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
} 

html {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color:#f7f7f7;
  width: 100%;
}

.full-width {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.half-width {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 50%;
}

.third-width {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 33.3%;
}

.fourth-width {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 25%;
}

/****** HEADER SECTION ******/

header {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/pretty-desktop.png') no-repeat 0px 0px white;
  background-position: top;
  background-size: cover;
}

nav {
    display: flex;
    justify-content: center;
    padding: 40px 420px 0px 450px;
    width: 30%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-flow: row nowrap;
    list-style-type: none;
    padding-left: 27px;
    width: 100%;
}

nav ul li a {
    font-family: 'Aloha Paradise';
    font-size: 1em;
    color: black;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 50px;
}

#primary-logo {
  padding-top: 375px;
  display: flex;
  justify-content: center;
}


/****** ABOUT SECTION ******/

#about {
    background-color: #b5c5c5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}

#about h1 {
    font-size: 12.5em;
    color: white;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 90px;
}

#about img {
    margin-left: 200px;
    margin-bottom: 180px;
    display: flex;
}

#about .half-width {
  justify-content: flex-end;
}

.half-width-bio {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
  width: 50%;
  margin-bottom: 180px;
}

#about h3 {
    color: white;
    font-size: 2.5em;
    margin: 0;
    line-height: 1;
    padding-bottom: 16px;
    margin-right: 200px;
    padding-left: 25px;
}

.conjunction-emphasis {
    font-family: 'Atlantis';
    font-size: 1.125em;
    font-weight: 100;
}

#about p {
    color: white;
    font-size: 1.125em;
    margin-right: 200px;
    padding-left: 25px;
    margin-top: 5px;

}

/****** PORTFOLIO SECTION ******/

#portfolio {
    background-color:#f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
    width: 80%;
}

#portfolio .full-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    padding-bottom: 100px;
    background-color:#f7f7f7;
}

#portfolio h2 {
    font-size: 3em;
    color: black;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 40px;
    width: 100%;
}

#portfolio h4 {
    font-size: 1.5em;
    color: black;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    margin-top: -30px;
    width: 100%;
}

.top-left-project,
.top-middle-project,
.top-right-project, 
.bottom-left-project,
.bottom-middle-project,
.bottom-right-project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 400px;
  background: url('../img/portfolio-box.png') no-repeat 0px 0px;
  background-position: center;
  background-size: auto;
}

#portfolio h3 {
    font-size: 2.5em;
    line-height: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 0 0;
}

#portfolio p {
  text-align: center;
  font-size: 1em;;
}

#portfolio .portfolio-button {
    font-size: 1.25em;
    text-align: center;
    border: 1px solid #e9b8ac;
    background: #e9b8ac;
    padding: 10px;
    width: 60%;
}

.portfolio-button a {
    text-decoration: none;
    color: white;
}


/****** TAGLINE SECTION ******/

#tagline {
    background-color: #f6dcd7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 100px 0 100px 0;
}


/****** PROCESS SECTION ******/

#process {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 100%;
    background: url('../img/process-line.png') no-repeat 0px 0px #f7f7f7;
    background-position: 45% 42%;
    background-size: 75%;
}

#process h2 {
    font-size: 4.5em;
    text-align: center;
    margin-top: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
}

#process .step-one,
#process .step-two,
#process .step-three,
#process .step-four {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

#process h4 {
    font-size: 1.5em;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0 60px;
}

#process p {
    font-size: 1em;
    text-align: center;
    margin-bottom: 150px;
    padding: 0 55px;
}

/****** THIS OR THAT SECTION ******/

#this-or-that {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    min-height: 720px;
    background-color: #e9b8ac;
    background: url('../img/this-or-that.png') no-repeat 0px 0px #e9b8ac;
    background-position: center;
    background-size: auto;
}

/****** CONTACT SECTION ******/

#contact {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    padding-top: 50px;
    width: 100%;
}

#contact .third-width {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

#contact .email {
  padding-bottom: 30px;
}


#contact h1 {
    font-size: 4.5em;
    color: black;
    text-align: center;
    margin: 0;
}

#contact h2 {
    font-family: 'Aloha Paradise';
    font-size: 1.875em;
    color: black;
    text-align: center;
}

#contact h2 a {
    text-decoration: none;
    color: black;
}

#contact ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 25px 0 50px 0;
    padding: 0;
}

#contact ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 20px;
}


/****** FOOTER ******/
#footer {
    background-color: #f7f7f7;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}

#footer p, #footer img {
    text-transform: uppercase;
    padding: 0px 10px;
    text-align: center;
    vertical-align: middle;
}

.footer-icon {
    width: 15%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden,
 [hidden] {
   display: none !important;
 }
 
 /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
 
 .sr-only {
   border: 0;
   clip: rect(0, 0, 0, 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   white-space: nowrap;
   width: 1px;
   /* 1 */
 }
 
 /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
 
 .sr-only.focusable:active,
 .sr-only.focusable:focus {
   clip: auto;
   height: auto;
   margin: 0;
   overflow: visible;
   position: static;
   white-space: inherit;
   width: auto;
 }
 
 /*
  * Hide visually and from screen readers, but maintain layout
  */
 
 .invisible {
   visibility: hidden;
 }
 
 /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
 
 .clearfix::before,
 .clearfix::after {
   content: " ";
   display: table;
 }
 
 .clearfix::after {
   clear: both;
 }
 
 /* ==========================================================================
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.

    This CSS media quaeriers are working in opposite order of Mobile First - so going as Desktop First
    ========================================================================== */
 
 @media only screen and (min-width: 768px) and (max-width: 1199px) {
   /* TABLETS - Style adjustments for viewports that meet the condition */
  
  /** BASE STYLES **/
  
  /** HEADER SECTION **/

    header {
      min-height: 505px;
    }
    
    nav {
      padding: 30px 0 0 40px;
      width: 42.6%;
    }

    nav ul {
        padding-left: 27px;
        width: 100%;
    }

    #primary-logo {
      padding-top: 305px;
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
      width: 75%;
    }

  /** ABOUT SECTION **/

  #about {
      width: 100%;
  }

  #about .full-width {
    margin-bottom: 70px;
  }


  #about img {
    margin: 0;
    width: 325px;
    height: 425px;
    object-fit: cover;
  }

  #about .half-width-bio {
    margin-bottom: 0px;
  }

    #about h1 {
        width: 75%;
        font-size: 7.8125em;
    }

    #about h3 {
        font-size: 1.5em;
        margin-right: 50px;
    }

    .conjunction-emphasis {
        font-size: 1.5em;
    }

    #about p {
        font-size: 0.875em;
        margin-right: 80px;
    }

    /** PORTFOLIO SECTION **/

  #portfolio h2 {
      font-size: 3em;
  }

  #portfolio h4 {
      font-size: 1em;
  }

  .top-left-project,
  .top-middle-project,
  .top-right-project, 
  .bottom-left-project,
  .bottom-middle-project,
  .bottom-right-project {
    width: 50%;
    background-size: 80%;
  }

  #portfolio h3 {
      font-size: 1.875em;
  }

  #portfolio p {
    font-size: 0.75em;;
  }

  #portfolio .portfolio-button {
      font-size: 1em;
  }

  /****** TAGLINE SECTION ******/

  #tagline img {
    width: 80%;
  }

/****** PROCESS SECTION ******/

  #process {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 100%;
    background: url('../img/process-line-tablet.png') no-repeat 0px 0px #f7f7f7;
    background-position: 21% 60%;
    background-size: auto;
  }

  #process .full-width {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-bottom: 70px;
  }

  #process h2 {
    font-size: 3em;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 10px;
  }

  #process .step-one,
  #process .step-two,
  #process .step-three,
  #process .step-four {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
  width: 55%;
  padding-left: 100px;
  }

  #process h4 {
    font-size: 1.25em;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0;
  }

  #process p {
    font-size: 0.875em;
    text-align: left;
    margin-bottom: 0;
    padding: 0;
  }


/****** THIS OR THAT SECTION ******/

  #this-or-that {
    min-height: 440px;
    background-size: cover;
    padding: 20px 0;
  }

/****** CONTACT SECTION ******/

  #contact h1 {
    font-size: 2.5em;
  }

  #contact h2 {
    font-size: 1.125em;
  }

  #contact .connect img {
    width: 70%;
  }

  #contact ul li {
    padding: 5px;
    text-align: center;
  }


  /****** FOOTER ******/


  #footer p, #footer img {
    text-transform: uppercase;
    padding: 0px 10px;
    text-align: center;
    vertical-align: middle;
  }

  #footer p {
    font-size: .625em;
  }

  .footer-icon {
    width: 15%;
  }

  }



 @media only screen and (max-width: 767px) {
  /* MOBILE - Style adjustments for viewports that meet the condition */

  /** BASE STYLES **/
    
    /** HEADER SECTION **/

    header {
      background: url('../img/pretty-desktop.png') no-repeat 0px 0px white;
      background-position: 75% 10%;
      background-size: auto;
    }
    
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row nowrap;
      padding: 0;
      width: 80%;
    }

    nav ul {
        padding-left: 27px;
        width: 80%;
    }

    nav ul li a {
      font-size: 0.75em;
      padding: 10px;
  }

    #primary-logo {
      padding-top: 210px;
      padding-bottom: 50px;
      display: flex;
      justify-content: center;
      width: 82%;
    }

/** ABOUT SECTION **/

#about {
  width: 100%;
}

#about .full-width {
  flex-flow: column wrap;
}

#about .half-width {
  width: 70%;
}

#about .half-width-bio {
  width: 70%;
  margin-bottom: 50px;
}

#about h1 {
  width: 85%;
  font-size: 4em;
  margin: 60px 0 40px 0;
}

#about img {
  width: 100%;
  height: auto;
  margin: 0;
}

#about h3 {
  font-size: 1.3124em;
  margin: 20px 0 5px 0;
  padding: 0;
}

.conjunction-emphasis {
  font-size: 1.3124em;
}

#about p {
  font-size: 0.75em;
  margin: 10px 0;
  padding: 0;
}

/** PORTFOLIO SECTION **/

#portfolio .full-width {
  justify-content: center;
  padding-bottom: 75px;
}

#portfolio h2 {
font-size: 1.875em;
}

#portfolio h4 {
font-size: 0.75em;
}

.top-left-project,
.top-middle-project,
.top-right-project, 
.bottom-left-project,
.bottom-middle-project,
.bottom-right-project {
  height: 275px;
  width: 70%;
  background-size: 100%;
}

#portfolio h3 {
font-size: 1.5625em;
margin-top: 40px;
}

#portfolio p {
font-size: 0.625em;;
}

#portfolio .portfolio-button {
font-size: 0.84375em;
}

/****** TAGLINE SECTION ******/

#tagline {
  padding: 50px 0;
}

#tagline img {
  width: 80%;
}

/****** PROCESS SECTION ******/

#process {
background: url('../img/process-line-mobile.png') no-repeat 0px 0px #f7f7f7;
background-position: 21% 60%;
background-size: auto;
}

#process .full-width {
margin-bottom: 70px;
}

#process h2 {
font-size: 2.5em;
text-align: center;
margin-top: 75px;
margin-bottom: 10px;
width: 60%;
}

#process .step-one,
#process .step-two,
#process .step-three,
#process .step-four {
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-flow: column wrap;
width: 40%;
padding-left: 60px;
}

#process h4 {
font-size: 1em;
letter-spacing: 1px;
text-align: left;
text-transform: uppercase;
margin-top: 35px;
margin-bottom: 0;
padding: 0;
}

#process p {
font-size: 0.75em;
text-align: left;
margin-bottom: 0;
margin-top: 5px;
padding: 0;
}


/****** THIS OR THAT SECTION ******/

#this-or-that {
  background: url('../img/this-or-that-mobile.png') no-repeat 0px 0px #e9b8ac;
  background-position: center;
  background-size: auto;
  min-height: 550px;
}

/****** CONTACT SECTION ******/

#contact .full-width {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

#contact h1 {
font-size: 2.25em;
}

#contact h2 {
font-size: 1.125em;
margin-bottom: 0;
}

#contact .connect {
  width: 60%;
}

#contact .connect img {
width: 60%;
}

#contact ul {
  margin-bottom: 30px;
}

#contact ul li {
padding: 0px;
text-align: center;
}


/****** FOOTER ******/

#footer .full-width {
  padding-top: 20px;
}

#footer p {
font-size: .625em;
}

.footer-icon {
width: 15%;
}

}

 
 @media print,
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 1.25dppx),
   (min-resolution: 120dpi) {
   /* Style adjustments for high resolution devices */
 }
 
 /* ==========================================================================
    Print styles.
    Inlined to avoid the additional HTTP request:
    https://www.phpied.com/delay-loading-your-print-css/
    ========================================================================== */
 
 @media print {
   *,
   *::before,
   *::after {
     background: #fff !important;
     color: #000 !important;
     /* Black prints faster */
     box-shadow: none !important;
     text-shadow: none !important;
   }
 
   a,
   a:visited {
     text-decoration: underline;
   }
 
   a[href]::after {
     content: " (" attr(href) ")";
   }
 
   abbr[title]::after {
     content: " (" attr(title) ")";
   }
 
   /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
   a[href^="#"]::after,
   a[href^="javascript:"]::after {
     content: "";
   }
 
   pre {
     white-space: pre-wrap !important;
   }
 
   pre,
   blockquote {
     border: 1px solid #999;
     page-break-inside: avoid;
   }
 
   /*
    * Printing Tables:
    * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
    */
   thead {
     display: table-header-group;
   }
 
   tr,
   img {
     page-break-inside: avoid;
   }
 
   p,
   h2,
   h3 {
     orphans: 3;
     widows: 3;
   }
 
   h2,
   h3 {
     page-break-after: avoid;
   }
 }
 
 


